@charset "UTF-8";
.h1, h1 {
  font-size: 2em;
}

.directorioint {
  font-size: 18px;
  font-weight: 400;
  padding: 0 10px;
}
.directorioint h2, .directorioint h3, .directorioint h4, .directorioint h5, .directorioint h6 {
  margin: 0 auto;
  margin-bottom: 1em;
}
.directorioint p {
  color: #222322;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5em;
  margin: 0 auto;
}
.directorioint img {
  height: auto;
  max-width: 100%;
}
.directorioint__header {
  color: #000000;
  padding: 20px 0;
}
.directorioint__header--cont {
  margin: 0 auto;
  max-width: 1320px;
  padding: 30px 0;
  width: 98%;
}
.directorioint__header--cont h1 {
  font-weight: 400;
  margin: 0 0 40px;
  text-transform: uppercase;
}
.directorioint__header--descripcion {
  width: 80%;
}
.directorioint__header--descripcion a {
  color: #222322;
  font-weight: bold;
}
.directorioint__cuerpo {
  padding-bottom: 50px;
}
.directorioint__cuerpo .filtros {
  margin-bottom: 2em;
}
.directorioint__cuerpo .filtros ul.allFiltros {
  display: flex;
  flex-wrap: wrap;
  gap: 20px 50px;
  list-style: none;
  margin: 0;
  padding: 0;
}
.directorioint__cuerpo .filtros ul.allFiltros > li {
  font-size: 14px;
}
.directorioint__cuerpo .filtros ul.allFiltros > li a {
  color: #000;
  text-decoration: none;
}
.directorioint__cuerpo .filtros ul.allFiltros > li a i {
  color: #243c9b;
  font-size: 0.7em;
}
.directorioint__cuerpo .filtros ul.allFiltros > li:first-child {
  font-weight: bold;
}
.directorioint__cuerpo .buscador .form-control {
  border: 1px solid #E9E9E9;
  border-radius: 14px;
  max-width: 540px;
  padding: 10px 18px;
}
.directorioint__cuerpo .directoriolist {
  display: grid;
  gap: 0 2%;
  grid-template-columns: 1fr 1fr;
}
.directorioint__cuerpo .directoriolist__card {
  display: block;
  border: 1px solid #E7E7E7;
  border-left: 6px solid #6c85e8;
  margin-bottom: 2%;
  text-decoration: none;
  transition: 0.3s all;
}
.directorioint__cuerpo .directoriolist__card:hover {
  background-color: #eee;
}
.directorioint__cuerpo .directoriolist__card__int {
  align-items: center;
  display: grid;
  padding: 25px 0;
  grid-template-columns: 190px 1fr;
}
.directorioint__cuerpo .directoriolist__card__int.sin-imagen {
  grid-template-columns: 20px 1fr;
}
@media (max-width: 768px) {
  .directorioint__cuerpo .directoriolist__card__int {
    grid-template-columns: 120px 1fr;
    padding: 15px 0;
  }
}
.directorioint__cuerpo .directoriolist__card--foto {
  text-align: center;
}
.directorioint__cuerpo .directoriolist__card--foto img {
  border-radius: 100%;
  height: 130px;
  -o-object-fit: cover;
     object-fit: cover;
  width: 130px;
}
@media (max-width: 768px) {
  .directorioint__cuerpo .directoriolist__card--foto img {
    grid-template-columns: 120px 1fr;
    height: 100px;
    width: 100px;
  }
}
.directorioint__cuerpo .directoriolist__card--foto span {
  display: block;
  height: 130px;
}
.directorioint__cuerpo .directoriolist__card--content__cont h2 {
  color: #000000;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  letter-spacing: 0.2px;
  line-height: 1.4em;
  margin: 0;
  mix-blend-mode: normal;
}
.directorioint__cuerpo .directoriolist__card--content__cont h3 {
  color: #EF7755;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0.2px;
  line-height: 2em;
  margin: 0;
  mix-blend-mode: normal;
  text-transform: uppercase;
}
@media (max-width: 768px) {
  .directorioint__cuerpo .directoriolist {
    grid-template-columns: 1fr;
  }
}

.singlelider {
  margin: 0 auto;
  max-width: 1300px;
  padding: 30px 0;
  width: 98%;
}
.singlelider__cont {
  margin: 0 auto;
  max-width: 932px;
  padding: 30px 0 60px;
  width: 98%;
}
.singlelider__body--intro h1 {
  font-size: 40px;
}
@media (max-width: 768px) {
  .singlelider__body--intro h1 {
    font-size: 30px;
  }
}
.singlelider__body--intro h2 {
  color: #EF7755;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 30px;
  text-transform: uppercase;
}
.singlelider__body--intro h2 span {
  color: #000000;
}
.singlelider__body--content--cont {
  align-items: center;
  display: grid;
  gap: 32px;
  grid-template-columns: 38% 1fr;
}
@media (max-width: 768px) {
  .singlelider__body--content--cont {
    grid-template-columns: 1fr;
  }
}
.singlelider__body--content__col1 {
  align-items: center;
  border: 1px solid #E7E7E7;
  border-left: 6px solid #F2BB54;
  display: flex;
  height: 100%;
  justify-content: center;
  padding: 40px;
  width: 100%;
}
.singlelider__body--content__col1--cont {
  width: 100%;
}
.singlelider__body--content__col1 .imagen {
  margin: 0 auto 20px;
  width: 180px;
}
.singlelider__body--content__col1 .imagen img {
  border-radius: 100%;
  height: 180px;
  -o-object-fit: cover;
     object-fit: cover;
  width: 180px;
}
.singlelider__body--content__col1 .imagen_text {
  align-items: center;
  background-color: #EEEEEE;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  margin: 0 auto 20px;
  width: 180px;
  height: 180px;
}
.singlelider__body--content__col1 .imagen_text h3 {
  color: #000000;
  font-style: normal;
  font-weight: 300;
  font-size: 60px;
  letter-spacing: 0.2px;
  line-height: 47px;
  margin: 0 auto;
  mix-blend-mode: normal;
  text-align: center;
}
.singlelider__body--content__col1 p {
  color: #8A8A8A;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.2px;
  line-height: 34px;
  margin: 0 auto;
  mix-blend-mode: normal;
}
.singlelider__body--content__col1 p a {
  color: #8A8A8A;
  text-decoration: none;
}
.singlelider__body--content__col1 p a.linkedin {
  align-items: center;
  border: 1px solid #8A8A8A;
  display: flex;
  font-size: 20px;
  justify-content: center;
  height: 38px;
  width: 38px;
  text-align: center;
  text-decoration: none;
}
.singlelider__body--content__col2 {
  align-items: center;
  background: url("../img/directorio_bg.jpeg") no-repeat;
  background-position: 95% 50%;
  display: flex;
  border: 1px solid #E7E7E7;
  height: 100%;
  padding: 40px;
}
.singlelider__body--content__col2 p {
  font-weight: 400;
  padding-left: 20px;
}
.singlelider__body--content__col2 p::before {
  color: #243c9b;
  content: "○ ";
  font-weight: bold;
  margin-left: -20px;
  padding-left: 4px;
}/*# sourceMappingURL=directorio.css.map */